<a href="https://colab.research.google.com/github/stmayna/smallproject/blob/main/tts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BAB 3

In [22]:
# 2

size = 5
for i in range(size):
    for j in range(1, size - i):
        print(" ", end="    ")
    for k in range(12):
        print(chr(65), end="")
    print()

                    AAAAAAAAAAAA
               AAAAAAAAAAAA
          AAAAAAAAAAAA
     AAAAAAAAAAAA
AAAAAAAAAAAA

In [1]:
#3A: Pesta

n = int(input('Masukkan Jumlah Peserta: ')) #Berapa kali namanya diulang
if n<=10: #Syarat menampilkan nama hanya jika input angka kurang dari atau sama dengan 10
    x = list(map(str, input("Masukkan seluruh nama peserta: ").split()))
    print (f"{x} telah diundang")
else: #Jika perulangan lebih dari 10 kali, maka akan mem-print kata berikut
    print ("Terlalu banyak orang")

Masukkan Jumlah Peserta: 5
Masukkan seluruh nama peserta: nana nene nunu nene nina
['nana', 'nene', 'nunu', 'nene', 'nina'] telah diundang

In [2]:
#3B: Segitiga siku-siku

print("Input panjang sisi segitiga: ")
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

def right_angled(a, b, c):
    if (a*a+b*b==c*c) or (c*c+b*b==a*a) or (a*a+c*c==b*b) :
        return "Segitiga ini merupakan segitiga siku-siku." 
    else:
        return "Segitiga ini bukan merupakan segitiga siku-siku."
    
print(right_angled(a, b, c))

Input panjang sisi segitiga:
a: 3
b: 4
c: 5
Segitiga ini merupakan segitiga siku-siku.

In [21]:
# 4

numlist = []
num = int(input('Berapa banyak angka yang ingin dijumlahkan? '))
for n in range(num):
    numbers = int(input('Masukkan angka: '))
    numlist.append(numbers)
    total=sum(numlist)
print(f"Jumlah total dari angka yang dimasukkan adalah:{total}".format(total))

Berapa banyak angka yang ingin dijumlahkan? 4
Masukkan angka: 1
Masukkan angka: 2
Masukkan angka: 3
Masukkan angka: 4
Jumlah total dari angka yang dimasukkan adalah:10

In [20]:
#5
list_A= ['1','1', '3', '3', '7', '5', '15', '7', '31', '9', '63', '11']
list_B= ['1', '4', '2', '4', '5', '4', '7', '6', '6', '10', '4', '8', '13', '5', '10']

print(list_A)
print(list_B)

['1', '1', '3', '3', '7', '5', '15', '7', '31', '9', '63', '11']
['1', '4', '2', '4', '5', '4', '7', '6', '6', '10', '4', '8', '13', '5', '10']

BAB 4

In [5]:
#2: Asia Tenggara

#Tuple 5 negara

negara = ('Brunei','Filipina','Indonesia','Malaysia','Singapura',)
print(negara) #print negara asia tenggara

item = ['Laos'] #menambahkan 1 negara

l = list(negara)

for x in item:
    l.append(x)
print(l) #print nama negara setelah ditambah

#Memilih negara favorit

#Index negara
#0: Brunei
#1: Filipina
#2: Indonesia
#3: Malaysia
#4: Singapura
#5: Laos

indices = [1] #Masukkan index negara favorit disini
negaraterpilih = [l[index] for index in indices]
print(f"Negara favorit saya adalah {negaraterpilih}") #print negara favorit

('Brunei', 'Filipina', 'Indonesia', 'Malaysia', 'Singapura')
['Brunei', 'Filipina', 'Indonesia', 'Malaysia', 'Singapura', 'Laos']
Negara favorit saya adalah ['Filipina']

In [7]:
# 3
# Printing list on question number 2
print ("Negara di Asia tenggara : " + str(l))
  
# use naive method
# to get index and value
print ("Nomer urut dan nama negara : ")
for i in range(len(l)):
    print (i, end = " ")
    print (l[i])

Negara di Asia tenggara : ['Brunei', 'Filipina', 'Indonesia', 'Malaysia', 'Singapura', 'Laos']
Nomer urut dan nama negara :
0 Brunei
1 Filipina
2 Indonesia
3 Malaysia
4 Singapura
5 Laos

In [8]:
# 4

subjects = ['math', 'physics','english', 'music', 'art']
print(f"List mata pelajaran: {subjects}")
print("Masukkan mata pelajaran yang tidak Anda sukai dari list!")
subject_dislike = input()
subjects.remove(subject_dislike)
print(f"List mata pelajaran baru {subjects}")

List mata pelajaran: ['math', 'physics', 'english', 'music', 'art']
Masukkan mata pelajaran yang tidak Anda sukai dari list!
english
List mata pelajaran baru ['math', 'physics', 'music', 'art']